$primary: #0b1723;
$secondary: #b1b9c1;
$tertiary: white;

.title_home{
   color:#d40924 
}

ul{
    display:flex ;
    justify-content: space-around;
    align-items: center;
    li{
        display: flex;
        color: $secondary;
 list-style-type:none ;
    flex-direction: column;
    gap: 20px;
    align-items: center;
        font-family: system-ui;
cursor: pointer;
        &:hover{
color: $tertiary;
        }
    }
}

a{
     text-decoration: none;
}
ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;

  }

ul li {
  cursor: pointer;
  color: $tertiary;
                

}



.burger {
  display: none; 
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
  cursor: pointer;
}

.burger div {
  height: 3px;
  background: white;
  border-radius: 2px;
}








@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  ul {
   position: absolute;
    top: 10px;
    right: 20px;
    left: 30px;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    bottom: 200px;
  }

  ul.active {
    max-height: 600px;


  }
}
