/* You can add global styles to this file, and also import other style files */
$primary: #0b1723;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $primary;
}

h2{
    color: white;
}